@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    height: 100vh;
    background-image: url(../public/images/Banner.png);
    background-size: cover;
    background-position: center;
    border-radius: 0 0 0 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}